set clipboard+=unnamed
set NERDTree

nnoremap K 10k
nnoremap J 10j
vnoremap K 10k
vnoremap J 10j

let mapleader = " "

nnoremap <leader>i :e ~/work/notes/notes.txt<CR>

nnoremap <leader><leader> :action SearchEverywhere<CR>
nnoremap <leader>f :action FindInPath<CR>
nnoremap <leader>. :action RecentFiles<CR>
nmap <Leader>p :NERDTreeToggle<CR>

nnoremap <leader>d :action CloseEditor<CR>
nnoremap <leader>s :action SaveAll<CR>

nnoremap <leader>r :action RenameElement<CR>
nnoremap <leader>u :action ShowUsages<CR>
